<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="title" content="Protection+">
<meta name="og:title" content="Protection+">
<meta name="description" content="Hey, I am Protection+ i am a multiple discord bot i can help you with your server try me!">
<meta name="og:description" content="Hey, I am Protection+ i am a multiple discord bot i can help you with your server try me!">
<meta name="og:image" content="https://imgur.com/7Ni07EG">
<meta name="image" content="https://imgur.com/7Ni07EG">
<meta name="theme-color" content="#9e1c35">
<meta name="og:theme-color" content="#9e1c35">
<meta name="keywords" content="bot discord,Protection+,Protection+,Protection+,Protection+ bot,best bot discord,bot morocco discord,arab bot discord,guild,help,commands">
<meta name="og:keywords" content="bot discord,Protection+,Protection+,Protection+,Protection+ bot,best bot discord,bot morocco discord,arab bot discord,guild,help,commands">
<meta name="viewport" content="width=device-width, initial scale=1"/>
<meta http-equiv="Content-Security-Policy" content="default-src *; img-src * 'self' data: https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *">
<script src="https://kit.fontawesome.com/eaa206fe23.js" crossorigin="anonymous"></script>
<link rel="icon" type="image/png" href="../../images/logo.png"/>
<title>Protection+</title>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../../test.css">
</head>
<style>


  
   .zoom {
  transition: transform .6s;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.2); 
}

</style>
<body id="body">


 
         <div class="lex-container">
        <div><% if(!user.avatar) { %> <a href="/dashboard"><img class="zoom card-img-top mb-5 rounded-circle" src="http://i8.ae/qHF2o"></a> <%} else {%> <a href="/dashboard"><img class="zoom" style=" width: 50px; border-radius: 16px 16px 16px 16px;" src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>"></a> <%}%></div>
 
 <div style="margin-left: -10px; margin-top: 80px;  " >
                              <% let guilds = user.guilds
                              for(let x = 0; x < guilds.length; x++) {%>
          
          <%const newPerm = new Discord.Permissions(guilds[x].permissions)%>
          
          <%if(newPerm.has("MANAGE_GUILD") || newPerm.has("ADMINISTRATOR") || guilds[x].owner == true ) {%>
                              
          <div style="width: 6rem;">
                
                <div class="card-body">
                  
                
                
                  
                
                  <%if(client.guilds.cache.get(guilds[x].id)) {%>
                                    <%if(!guilds[x].icon) {%>
   <a href="/dashboard/<%=guilds[x].id%>" class="card-link zoom">
                  <img class="zoom card-img-top mb-5 rounded-circle" src="https://media.discordapp.net/attachments/734444022235660319/745269711801155731/AATXAJw1tXvJInOnm44MdEF3kS0b8x-W4Twj27SYvJ9gRws900-c-k-c0xffffffff-no-rj-mo.png?width=677&height=677" alt="<%=guilds[x].name%>" style="
                width: 130px; opacity: .8;  margin-top: -70px; box-shadow: -1px 0px 42px 2px rgba(0,0,0,0.56);width: 50px; 
                  "></a>
                 <% } else { %>
                  <a href="/dashboard/<%=guilds[x].id%>" class="card-link zoom">
                    <img class="zoom card-img-top mb-5 rounded-circle" src="https://cdn.discordapp.com/icons/<%=guilds[x].id%>/<%=guilds[x].icon%>" alt="<%=guilds[x].name%>" style="
                width: 130px; margin-top: -70px; box-shadow: -1px 0px 42px 2px rgba(0,0,0,0.56);width: 50px; 
                "></a>
                  <% } %>
                  <%} else {%>
                  
                  
                  <%if(!guilds[x].icon) {%>
                <a href="https://discord.com/oauth2/authorize?client_id=<%= client.user.id %>&permissions=8&response_type=code&scope=bot%20guilds%20guilds.join%20identify&guild_id=<%=guilds[x].id%>" target="_blank" class="card-link zoom">
                  <img class="zoom card-img-top mb-5 rounded-circle" src="https://media.discordapp.net/attachments/734444022235660319/745269711801155731/AATXAJw1tXvJInOnm44MdEF3kS0b8x-W4Twj27SYvJ9gRws900-c-k-c0xffffffff-no-rj-mo.png?width=677&height=677" alt="<%=guilds[x].name%>" style="
                width: 130px; opacity: .8; filter: brightness(40%); margin-top: -70px; box-shadow: -1px 0px 42px 2px rgba(0,0,0,0.56);width: 50px; 
                  "></a>
                  
                  <%} else {%>
                  <a href="https://discord.com/oauth2/authorize?client_id=<%= client.user.id %>&permissions=8&response_type=code&scope=bot%20guilds%20guilds.join%20identify&guild_id=<%=guilds[x].id%>" class="card-link zoom">
                    <img class="zoom card-img-top mb-5 rounded-circle" src="https://cdn.discordapp.com/icons/<%=guilds[x].id%>/<%=guilds[x].icon%>" alt="<%=guilds[x].name%>" style="
                width: 130px; opacity: .8; filter: brightness(40%); margin-top: -70px;  box-shadow: -1px 0px 42px 2px rgba(0,0,0,0.56);width: 50px;
                "></a>
                  <%}%>
                    
                  
                  <%}%>
              </div>
            </div>
          
          <%}%>
                    
          <%}%>
        </div>
        
        
         <div>
    

  </div>
</div>
  
     <div class="container">

      <nav class="navbar">
        <div class="nav_icon"  onclick="toggleSidebar()">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
  
  
      </nav>
          <form method="post" action="/logs">
      <main>
        <div class="main__container">
          <!-- MAIN TITLE STARTS HERE -->
          <div class="logs">
 
            
<!--start channel createlog -->
     

            <div class="logbox">
              <h1 class="center">
                Ban Logs
              </h1><br>
              
              <div class="cselect">
                <div class="slid">         
          <% if(logs.channelCreatetoggle === "off") { %>
      
      <label class="switch">
      <input type="checkbox">
      <span onclick="Channel_Create()" class="slider round"></span>
      
    </label>
      
   
      
      <% } else { %>
      
    <% if(logs.channelCreatetoggle === 'on') { %>
    <label class="switch">
      <input type="checkbox" checked>
      <span onclick="Channel_Create()" class="slider round"></span>
      
    </label>
      

 
     <% } else { %>
      
      <label class="switch">
      <input type="checkbox">
      <span onclick="Channel_Create()" class="slider round"></span>
      
    </label>
      

      
      <% } %>
      <% } %>
      <% var onoe;
      
      if(logs.channelCreatetoggle) { 
      onoe = logs.channelCreatetoggle 
       } else { 
       onoe = "off"
      } %>
                  
            <% let channelCreateColor;
      
      if(logs.channelCreateColor) { 
      channelCreateColor = logs.channelCreateColor 
       } else { 
       channelCreateColor = "#9e1c36"
      } %>
                  <input style="display: none" id="Channel_Create" name="channelCreateOnOff" value="<%= onoe %>">
                </div>
                  
                <div class="color">
                  <input class="form-control" id="color" name="channelCreateColor" value="<%= channelCreateColor %>" type="color">
                </div>
            </div>
              <div class="select">
                                    <select id="slct" name="channelCreate" class="uk-select">
<% if(logs.channelCreate === "null") {  %> <% guild.channels.cache.filter(f => f.type === 'text').forEach(f => { %> <option value="<%= f.id %>" ><%= f.name %></option> <%})%>
                                       <% } else { %>
<% var lchannel = client.channels.cache.get(logs.channelCreate) %> <% guild.channels.cache.filter(f => f.type === 'text').forEach(f => { %> <option value="<%= f.id %>"><%= f.name %></option> <%})%> <% if(lchannel === undefined) { %>
                                      <% } else { %>
<option value="<%= lchannel.id %>" selected><%= lchannel.name %></option>
                                      <% } %>
                                      <% } %>
                                    </select>
              </div>
          </div>
         <!-- end ChannelCreate logs -->
              
            </div>
        </div>
        
      </main>
         <input name="guild" style="display: none" value="<%= guild.id %>">
         <button class="button" type="submit" class="zoom btn btn-outline-light" style="margin-top: 20px;">
           Save 
         </button>
    </form>
       
       
      <div id="sidebar">
        <div class="sidebar__title">
          <div class="sidebar__img">
            <img style="border-radius:100px;" src="https://cdn.discordapp.com/icons/<%=guild.id%>/<%=guild.icon%>" alt="logo" />
            <h1 style="margin-left: 10px;"><%=guild.name%></h1>
          </div>
          <i
            onclick="closeSidebar()"
            class="fa fa-times"
            style="margin-top: -70px;"
            id="sidebarIcon"
            aria-hidden="true"  
          ></i>
        </div>

        <div class="sidebar__menu">
          <div class="sidebar__link">
            <i class="fa fa-eye"></i>
            <a href="/dashboard/<%= guild.id %>">Overview</a>
          </div>
                      <div class="sidebar__link ">
            <i class="fas fa-sliders-h"></i>
            <a href="/dashboard/<%= guild.id %>/config">Config</a>
          </div>
          <div class="sidebar__link">
            <i class="fas fa-user-friends" aria-hidden="true"></i>
            <a href="/dashboard/<%= guild.id %>/autorole">Autorole</a>
          </div>
          <div class="sidebar__link">
            <i class="fas fa-user-plus"></i>
            <a href="/dashboard/<%= guild.id %>/welcomer">Welcomer</a>
          </div>
          <div class="sidebar__link active_menu_link">
            <i class="fas fa-clipboard"></i>
            <a href="/dashboard/<%= guild.id %>/log">Log</a>
          </div>
                    <div class="sidebar__link">
            <i class="fas fa-lightbulb"></i>
            <a href="/dashboard/<%= guild.id %>/suggestions">Suggestions</a>
          </div>  
          <div class="sidebar__link">
            <i class="fas fa-sliders-h"></i>
            <a href="/dashboard/<%= guild.id %>/voiceonline">Voice Online</a>
          </div>
           <div class="sidebar__link">
            <i class="fas fa-user-shield"></i>
            <a href="/dashboard/<%= guild.id %>/protection">Protection</a>
          </div>
          <div class="sidebar__link">
            <i class="fas fa-envelope"></i>
            <a href="/support">Support</a>
          </div>
  

          <h2>OTHER</h2>
          <div class="sidebar__link">
            <i class="fa fa-exchange-alt fa-spin"></i>
            <a href="#">Transfer logs</a>
          </div>
 
          <div class="sidebar__logout">
            <i class="fa fa-power-off"></i>
            <a href="/logout">Log out</a>
          </div>
          
     
        </div>
      </div>
    </div>
  

  
  

  

  
  
  
  
  
  
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script>
      
      // Sidebar Toggle Codes;
      
      var sidebarOpen = false;
      var sidebar = document.getElementById("sidebar");
      var sidebarCloseIcon = document.getElementById("sidebarIcon");
      
      function toggleSidebar() {
        if (!sidebarOpen) {
          sidebar.classList.add("sidebar_responsive");
          sidebarOpen = true;
        }
      }
      
      function closeSidebar() {
        if (sidebarOpen) {
          sidebar.classList.remove("sidebar_responsive");
          sidebarOpen = false;
        }
      }
      </script>





    
        <script type="text/javascript">  
    document.addEventListener("contextmenu", function(freelancernasim){
      freelancernasim.preventDefault();
    })
    </script>
  
  
  
  
  
  

    <script>
  function Channel_Create() {
  if( document.getElementById("Channel_Create").value == 'off') {
  document.getElementById("Channel_Create").value = 'on'
return;  
}

if( document.getElementById("Channel_Create").value == 'on') {
  document.getElementById("Channel_Create").value = 'off'
return;  
}

} 
  </script>
  
  
  
  </body>
</html>